<div class="col-sm-4">
    <h2>{{title}}</h2>
    <div class="sidebar-admin" data-example-id="sample-nav-stacked">
        <ul class="nav nav-pills nav-stacked nav-pills-stacked-example flex-column">
            <li role="presentation" [routerLinkActive]="['acticve']">
                <a [routerLink]="['listado']">Listado</a>
            </li>
            <li role="presentation" [routerLinkActive]="['acticve']">
                <a [routerLink]="['agregar']">Agregar</a>
            </li>
            <li role="presentation" [routerLinkActive]="['acticve']">
                <a [routerLink]="['listado']">Presentacion</a>
            </li>
        </ul>
    </div>
</div>
<div class="col-sm-8">
    <router-outlet></router-outlet>
</div>