<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar sticky-top navbar-dark bg-dark navbar-expand-md">
    <a class="navbar-brand " href="/home">
        <img src="../assets/img/logo.svg" width="30" height="30" class="d-inline-block align-top" alt="Logo">
    </a>

    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navegador" aria-controls="navegador" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

    <div class="collapse navbar-collapse" id="navegador">
        <div class="navbar-nav text-center">
            <a class="nav-item nav-link" [routerLink]="['/home']" [routerLinkActive]="['active']">Home<span class="sr-only">(current)</span></a>
            <a *ngIf="!identity" class="nav-item nav-link" [routerLink]="['/usuario']" [routerLinkActive]="['active']">Profile</a>
            <a *ngIf="!identity" class="nav-item nav-link" [routerLink]="['/login']" [routerLinkActive]="['active']">Login</a>
            <a class="nav-item nav-link" [routerLink]="['/contacto']" [routerLinkActive]="['active']">Contacto</a>
            <ul *ngIf="identity" class="justify-content-end">
                <li class="dropdown">
                    <a class="dropdown-toggle" style="color:aquamarine" data-toggle="dropdown" href="#">
                        {{identity.name}}    
                    </a>
                    <ul class="dropdown-menu">
                        <li *ngIf="identity && identity.role=='ROLE_ADMIN'">
                            <a [routerLink]="['/admin-main']">
                                <span class="glyphicon glyphicon-tasks"></span> Administración
                            </a>
                        </li>
                        <li>
                            <a [routerLink]="['/mis-datos']">
                                <span class="glyphicon glyphicon-cog"></span> Mis datos
                            </a>
                        </li>
                        <li>
                            <a class="pointer" (click)="logout()">
                                <span class="glyphicon glyphicon-log-out"></span> Salir
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<router-outlet></router-outlet>